<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8"> </meta>
    <title>Metro Fortune Teller</title>
    <link rel="stylesheet" href="css/style.css"></link>
  </head>

  <body>
    <h3>Welcome to the Metro Fortune Teller</h3>
    <h2>Get your fortune!</h2>
    <h1>Whats your name?</h1>
    <form method=POST>
    <input type = "text" name= "user">
    <br>
    <input type="submit" value = "here's your fortune">
    </form>
  </body>
</html>