<!DOCTYPE html> 
<html>
  <head>
    <meta charset= "UTF-8">
    <title>Fortune</title>
  </head>
  <body>
    <h2>Your fortune</h2>
    <h3> Hi! <%=@the_user%>, your fortune is that <%=@fortune%></h3>
  </body>
</html>